@import "color";
@import "typography";

.btn {
    // min-width: 150px;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
    padding: 12px 16px;
    border-radius: 50px;

    &--primary {
        background: $color-primary;
        color: #fff;
        transition: 300ms ease;
        &:hover {
            opacity: 0.8;
            color: #fff;
        }
    }

    &--secondary {
        color: #00563F;
        transition: 300ms ease;
        border: 1px solid transparent;
        border-radius: 50px;
        background: 
            linear-gradient(#fff, #fff) padding-box,
            linear-gradient(90deg, #9BC058, #2CBE98) border-box;

        &:hover {
            background: 
                linear-gradient(#fff, #fff) padding-box,
                linear-gradient(90deg, #9BC058, #2CBE98) border-box;

            color: #00563F;
        }
    }
}

.btn--arrow{
    height: 42px;
    width: fit-content;
    font-family: $font-primary;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
    padding: 10px 15px;
    padding-right: 5px;
    border-radius: 50px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: $color-primary;
    color: #fff;
    transition: 200ms ease;
    transition-delay: 30ms;
    div{
        width: 31px;
        height: 31px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        padding-left: 3px;
        span{
            transition: 200ms ease;
            transition-delay: 30ms;
            display: flex;
            flex-direction: column;
            height: 55px;
            // background-color: #9BC058;
            justify-content: space-between;

            transform: translateY(21px);

        }
        i{
            font-size: 13px;
            color: #00563F;
        }
    }
    &:hover {
        opacity: 0.8;
        color: #fff;
        rotate: -1deg;
        text-decoration: none;
        div{

            span{
                
                transform: translateY(-20px);

            }
        }
    }
}