@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi/OTF/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi/OTF/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi/OTF/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi/OTF/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi/OTF/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

$font-primary: 'Satoshi', 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', 'Times New Roman', serif;
$font-inter: 'Inter', 'Arial', sans-serif;


$nav-size: 75px;
$nav-break-down: 992px;
$foo-break-down: 992px;








